extends ../layout

block content
  section.container
    .row.justify-content-center
      h1.my-3.text-center Users
      .col-12.col-lg-8
        form#searchform.my-4.d-flex.align-items-center

            input.mx-1#filter.form-control(type='text' name='nameFilter' defaultValue='' placeholder='Filter Name')

            input.mx-1#filter.form-control(type='text' name='courseFilter' defaultValue='' placeholder='Filter Course')

            select.mx-1#sorttype.form-select(name='sortType')
              option(selected='' value='') Select sort type
              option(value='name') Name
              option(value='position') Position
              option(value='course') Course
              option(value='level') Level
              option(value='dateReg') Joined date
              option(value='lastSeen') Last seen
              option(value='favs') Favourites
          
            button.mx-1.btn.btn-primary.btn-block(type='submit') Search

        table#tableData.table.table-bordered.table-striped.table.text-center
          th Name
          th Position
          th Course
          th Level
          th Joined
          th Last Seen
          th Favs
          each u in users
            tr
              td 
                .d-flex.justify-content-start
                  a(href='/users/'+u._id)
                    img.ms-5.me-2.rounded(src='/users/'+u._id+'/picture' alt='...' style='height:1.5em; width:1.5em; object-fit: cover;')
                    | #{u.name}
              td #{u.position}
              td #{u.course}
              td #{u.level}
              td #{u.dateReg && u.dateReg.toString().slice(4,16)}
              td #{u.lastOnline && u.lastOnline.toString().slice(4,16)}
              td #{u.favs}
