extends ../layout

block content
  section.container
    .row.justify-content-center
      .col-lg-8
        
        h1.m-4.text-center #{resource.title}
        h2.m-4.text-center #{resource.subtitle}
        .d-flex.justify-content-between
          a.d-flex(href='/users/'+resource.producer._id)
            img.rounded.me-1(src='/users/'+resource.producer._id+'/picture' alt='...' style='height:1.5em;')
            | #{resource.producer.name}
          button.btn.btn-warning(onclick=`switchFavourite("${user._id}","${resource._id}",${user.favouriteResources.some(r=>r._id.toString()===resource._id.toString())},"${resource.title}")`)
            | #{user.favouriteResources.some(r=>r._id.toString()===resource._id.toString()) ? 'Remove Favourite' : 'Favourite'}
      
        p #{resource.downloads} downloads
        h5 #{resource.type}
        a.btn.btn-primary.w-100(href=`/resources/${resource._id}/download`) Download
  
    script(src='/javascripts/resources/resource.js')


