extends ../layout

block content
  section.container
    .row.justify-content-center
      h1.my-3.text-center='Resources'
      
      .col-12.col-lg-8
        //Does a GET on resources/?filterType="filterType"&filter="filter"&sortType="sortType" by default
        form#searchform.my-4.d-flex.align-items-center
            select.mx-1#filtertype.form-select(name='filterType')
              option(selected='' value='') Select filter type
              option(value='title') Title
              option(value='producer') Producer
            
            input.mx-1#filter.form-control(type='text' name='filter' defaultValue='' placeholder='Filter')

            select.mx-1#sorttype.form-select(name='sortType')
              option(selected='' value='') Select sort type
              option(value='title') Title
              option(value='type') Type
              option(value='downloads') Downloads
              option(value='favourites') Favourites
              option(value='producer') Producer
              option(value='createdAt') Creation Date
              option(value='registeredAt') Register Date
          
            button.mx-1.btn.btn-primary.btn-block(type='submit') Search
      
        table.table.text-center
          th Title
          th Type
          th Created
          th Registered
          th Producer
          th Downloads
          th Favourites
          each r in resources
            tr
              td 
                a(href='/resources/'+r._id) #{r.title}
              td #{r.type}
              td #{r.createdAt && r.createdAt.toString().slice(4,16)}
              td #{r.registeredAt && r.registeredAt.toString().slice(4,16)}
              td
                .d-flex.justify-content-center
                  a(href='/users/'+r.producer._id)
                    img.me-1.rounded(src='/users/'+r.producer._id+'/picture' alt='...' style='height:1.5em; width:1.5em; object-fit: cover;')
                    | #{r.producer.name}
              td #{r.downloads}
              td #{r.favs}
        
        a.btn.btn-primary.w-100(href='/resources/upload') Upload

