extends ../layout

block content
  section.container
    .row.justify-content-center
      .col-lg-8

        h1.m-4.text-center #{post.title}
        h2.m-4.text-center #{post.subtitle}
        .d-flex.justify-content-between
          a.d-flex(href='/users/'+post.producer._id)
            img.rounded.me-1(src='/users/'+post.producer._id+'/picture' alt='...' style='height:3.0em; width:3em; object-fit:cover')
            | #{post.producer.name}
          button.btn.btn-warning(onclick=`switchFavourite("${user._id}","${post._id}",${user.favouritePosts.some(p=>p._id.toString()===post._id.toString())},"${post.title}")`)
            | #{user.favouritePosts.some(p=>p._id.toString()===post._id.toString()) ? 'Remove Favourite' : 'Favourite'}
        br
        .d-flex.justify-content-between
          p #{post.views} Views
          if( post.favs > 0)
            p #{post.favs} Favourites
          else
            p 0 Favourites

        h4 Themes:
        ul.list-group
          each t in post.themes
            li.list-group-item #{t}
        br
        ul.list-group
          li.list-group-item
            article.mb-4 #{post.content}

        if(post.resources && post.resources.length > 0)
          h4 Resources:
        ul.list-group
          each r in post.resources
            li.list-group-item
              a(href='/resources/'+r._id) #{r.title}

        .card.my-4
          h5.card-header Leave a Comment:
          .card-body
            form#commentForm(action='/posts/'+post._id+'/comment/' method='post')
              .form-group
                textarea.form-control(rows='3' name='text' style='height: 6em;')
              button.btn.btn-primary.my-2(type='submit') Submit

        h4 Comments:
        .my-5
          each c in post.comments
            .my-4.d-flex.align-items-start
              img.d-flex.rounded-circle(src='/users/'+c.user._id+'/picture' alt='...' style='height:3em; width:3em; object-fit: cover')
              .ps-3.me-3
                .mb-2.d-flex.align-items-end
                  h5.me-2.my-0 #{c.user.name}
                  span.text-muted #{c.createdAt.toString().slice(4,21)}
                | #{c.text}
              if((user._id.toString().localeCompare(c.user._id.toString())===0) || user.level=='ADMN')
                button.btn.btn-danger(onclick=`removeComment('${c._id}')`) Delete

    script(src='/javascripts/posts/post.js')
