extends ../layout

block content
  .row.py-5.px-4.justify-content-center
    .col-xl-9.col-xxl-8
      // Profile widget
      .bg-white.shadow.rounded.overflow-hidden
        .px-4.pt-0.pb-4.cover
          .media.align-items-end.profile-head
            .profile.mr-3
              img.rounded.mb-2.img-thumbnail(src='/users/'+user._id+'/picture' alt='...' width='130')
              a.btn.btn-outline-dark.btn-sm.btn-block.mx-3(href='#') Edit profile
            .media-body.mb-5.text-white
              h4.mt-0.mb-0 #{user.name}
              p.small.mb-4
                i.fas.fa-map-marker-alt.mr-2
                  if(user.position=='STUD')
                    | Student
                  else
                    | Teacher
        .bg-light.p-4.d-flex.justify-content-end.text-center
          ul.list-inline.mb-0
            li.list-inline-item
              h5.font-weight-bold.mb-0.d-block #{resources.length}
              small.text-muted
                i.fas.fa-image.mr-1
                | Resources
            li.list-inline-item
              h5.font-weight-bold.mb-0.d-block #{posts.length}
              small.text-muted
                i.fas.fa-user.mr-1
                | Posts
        .p-4
          h5.mb-0 About
          .p-4.rounded.shadow-sm.bg-light
            p.font-italic.mb-0 Register Date: #{user.dateReg.toString().slice(4,16)}
            p.font-italic.mb-0 Last Seen: #{user.lastOnline.toString().slice(4,16)}
            p.font-italic.mb-0
            if(user.level==="CONS")
              | Consumer
            else if(user.level==="ADMN")
              | Administrator
            else
              | Producer

        .p-4.row 
          h1.text-center Favourites
          .col-12.col-lg-6
            h2.mt-3.text-center='Resources'
            ul.list-group
              each r in user.favouriteResources
                li.list-group-item 
                  a(href=`/resources/${r._id}`) #{r.title}
          .col-12.col-lg-6
            h2.mt-3.text-center='Posts'
            ul.list-group
              each p in user.favouritePosts
                li.list-group-item 
                  a(href=`/posts/${p._id}`) #{p.title}

        .p-4
          h1.my-3.text-center='Resources'
          table.table.text-center
            th Title  
            th Type
            th Created
            th Registered
            th Downloads
            th
            th
            each r in resources
              tr
                td 
                  a(href='/resources/'+r._id) #{r.title}
                td #{r.type}
                td #{r.createdAt && r.createdAt.toString().slice(4,16)}
                td #{r.registeredAt && r.registeredAt.toString().slice(4,16)}
                td #{r.downloads}
                td 
                  button.btn.btn-primary(onclick=`setResourceVisibility("${r._id}",${!r.public})`) #{r.public ? 'Set to private' : 'Set to public'}
                td 
                  button.btn.btn-danger(onclick=`deleteResource("${r._id}")`) Delete

          h1.my-3.text-center='Posts'
          table.table.text-center
            th Title
            th Themes
            th Created
            th Views
            th
            each p in posts
              tr
                td 
                  a(href='/posts/mine/' + p._id) #{p.title}
                td #{p.themes && p.themes.join(" ")}
                td #{p.createdAt && p.createdAt.toString().slice(4,16)}
                td #{p.views}
                td 
                  button.btn.btn-danger(onclick=`deletePost("${p._id}")`) Delete

    script(src='/javascripts/users/profile.js')

