extends ../layout

block content
  section.container
    .row.justify-content-center
      h1.my-3.text-center='Posts'
      .col-12.col-lg-8
        //Does a GET on resources/?filterType="filterType"&filter="filter"&sortType="sortType" by default
        form#searchform.my-4.d-flex.align-items-center
            select.mx-1#filtertype.form-select(name='filterType')
              option(selected='' value='') Select filter type
              option(value='title') Title
              option(value='producer') Producer
            
            input.mx-1#filter.form-control(type='text' name='filter' defaultValue='' placeholder='Filter')

            select.mx-1#sorttype.form-select(name='sortType')
              option(selected='' value='') Select sort type
              option(value='title') Title
              option(value='themes') Theme
              option(value='views') Views
              option(value='producer') Producer
              option(value='createdAt') Creation Date
          
            button.mx-1.btn.btn-primary.btn-block(type='submit') Search

        table.table.text-center
          th Title
          th Themes
          th Created
          th Producer
          th Views
          each p in posts
            tr
              td 
                a(href='/posts/'+p._id) #{p.title}
              td #{p.themes && p.themes.join(" ")}
              td #{p.createdAt && p.createdAt.toString().slice(4,16)}
              td
                .d-flex.justify-content-center
                  a(href='/users/'+p.producer._id)
                    img.rounded(src='/users/'+p.producer._id+'/picture' alt='...' style='height:1.5em; object-fit: cover;')
              td #{p.views}
        
        a.btn.btn-primary.w-100(href='/posts/upload') New Post
