extends ../layout

block content
  section.container
    .row.justify-content-center
      .col-lg-8

        h1.m-4.text-center #{resource.title}
        h2.m-4.text-center #{resource.subtitle}
        .d-flex.justify-content-between
          a.d-flex(href='/users/'+resource.producer._id)
            img.rounded.me-1(src='/users/'+resource.producer._id+'/picture' alt='...' style='height:1.5em; width:1.5em; object-fit:cover')
            | #{resource.producer.name}
          button.btn.btn-warning(onclick=`switchFavourite("${user._id}","${resource._id}",${user.favouriteResources.some(r=>r._id.toString()===resource._id.toString())},"${resource.title}")`)
            | #{user.favouriteResources.some(r=>r._id.toString()===resource._id.toString()) ? 'Remove Favourite' : 'Favourite'}

        p #{resource.downloads} downloads
        ul.list-group 
          li.list-group-item #{resource.type}

        h1.mt-5.text-center Files
        ul.pt-4 
          each e in Object.entries(resource.files)
            -const [i,f] = e
            li.mb-4 
              .d-flex.align-items-center
                h2.me-4 #{f.title}
                a.btn.btn-primary(href= `/resources/${resource._id}/files/${f.path}`) Download
              p Type 
                b #{f.type}
              if(f.type==='img')
                .d-flex.justify-content-center
                  img(src=`/resources/${resource._id}/files/${f.path}` width='80%' style="height: 500px; width 80%; object-fit: cover")
              if(f.type==='mp4')
                video(height="500px" controls)
                  source(src=`/resources/${resource._id}/files/${f.path}` type="video/mp4")
              if(f.type==='pdf')
                -const viewerId = `${resource._id}${i}`
                div(id=viewerId style="height:700px")
                script.
                  document.addEventListener("adobe_dc_view_sdk.ready", function(){
                    const resId = "#{resource._id}"
                    const id = "#{viewerId}"
                    const path = "#{f.path}" 
                    const title = "#{f.title}" 
                    let url = `/resources/${resId}/files/${path}`
                    var adobeDCView = new AdobeDC.View({clientId: "439faf3d6c4a42488b22cc4e151d4c5e", divId: id});
                    adobeDCView.previewFile({
                      content:{location: {url: url}},
                      metaData:{fileName: title}
                    }, {});
                  })


        a.my-3.btn.btn-primary.w-100(href=`/resources/${resource._id}/download`) Download Full Resource


    script(src='/javascripts/resources/resource.js')



